@import "_variables";

.primary-nio-footer {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 14px;
  color: #E6E9EE;
  background-color: #354042;
  * {
    box-sizing: border-box;
  }
  a, a:visited {
    color: #fff;
    text-decoration: none;
  }
  a:hover, a:active {
    color: #3CAFDA;
  }
  footer {
    width: 100%;
    padding: 0 1em;
    @media (min-width: $tablet) {
      width: $tablet;
    }
    @media (min-width: $desktop) {
      width: 100%;
      max-width: 1140px;
    }
    margin: 0 auto;
    .links {
      display: flex;
      flex-wrap: wrap;
      .contact-info {
        width:100%;
        @media (min-width: $tablet) {
          width: 40%;
        }
        .logos {
          display: flex;
          align-items: flex-end;
          .nio-logo { height: 3em; margin-right: 3em; }
          .social-icon { margin-right: 0.5em; }
          a, a:visited {
            color: #566265;
          }
          a:hover, a:active {
            color: #3CAFDA;
          }
        }
        p {
          line-height: 2em;
          margin-top: 2em;
        }
      }
      .company-links ul li {
        width: 50%;
      }
      .product-links ul li {
        width: 100%;
      }
      .company-links, .product-links {
        width:100%;
        @media (min-width: $tablet) {
          width: 30%;
        }
        padding-right: 2em;
        h4 {
          font-size: 1.25em;
          font-weight: 400;
          line-height: 4em;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
        }
        ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: block;
            padding-bottom: 1em;
            .badge {
              display: inline-block;
              border-radius: 0.5em;
              padding-top: 0.5em;
              padding-bottom: 0.5em;
              padding-left: 0.75em;
              padding-right: 0.75em;
              font-weight: normal;
              font-size: 0.9em;
              margin-left: 1em;
              color: #fff;
              background-color: #3CAFDA;
            }
          }
        }
      }
    }
    .copyright {
      font-size: 0.9em;
      line-height: 1.75em;
      text-align: center;
      margin-top: 1em;
      padding-top: 1em;
      border-top: 1px solid #566265;
    }
  }
}

.anchor--designer {
  pointer-events: none;
  @media (min-width: $tablet) {
    pointer-events: auto;
    span {
      display: none;
    }
  }
}
