@import "variables";

// Header, Logo, and Navigation Toggle (Mobile)
.header {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background-color: $palette-black;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1em;
  @media (min-width: $tablet) {
    width: $tablet;
    margin: 0 auto;
  }
  @media (min-width: $desktop) {
    width: 1140px;
  }
}

.header__logo {
  height: 20px;
  margin: 0.75em 0;
  @media (min-width: $desktop) {
    height: 40px;
  }
}

.header__toggle {
  display: none;
  &:checked ~ .nav {
    display: block;
  }
}

.header__toggle:checked ~ .header__toggle--label {
  border-bottom: $burger--thickness solid transparent;
  border-top: $burger--thickness solid transparent;

  &:before {
    bottom: 3px;
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    top: 3px;
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

.header__toggle--label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 25px;
  margin: 1em 0;
  border-bottom: 1px solid $palette-zinc;
  border-top: 2px solid $palette-zinc;
  border-radius: $burger--thickness;
  transition : border 0.5s ease-out;
  @media (min-width: $tablet) {
    display: none;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  &:before, &:after {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid $palette-zinc;
    border-radius: $burger--thickness;
    width: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
  }
  &:before {
    bottom: 7px;
  }
  &:after {
    top: 6px;
  }
}

// Primary Navigation
.nav {
  display: none;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  z-index: 9999;
  @media (min-width: $tablet) {
    display: inline;
    width: auto;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__list--item {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid $palette-zinc;
  &:nth-last-child(1) {
    border-bottom: none;
  }
  @media (min-width: $tablet) {
    display: inline;
    text-align: center;
    border-bottom: none;
    padding-top: 2em;
    padding-bottom: 2em;
    &:hover .sub-nav {
      display: block;
    }
  }
}

.nav__list--anchor {
  font-weight: 400;
  color: $palette-zinc;
  text-decoration: none;
  &.active, &.active:visited, &:hover, &:active {
    color: #fff;
    text-decoration: none;
  }
}

.settings {
  @media (min-width: $tablet) {
    span {
      display: none;
    }
    &:hover .settings__icon {
      display: none;
    }
    &:hover .settings__icon--hover {
      display: inline;
    }
  }
}

.settings__icon {
  display: none;
  height: 1.5em;
  @media (min-width: $tablet) {
    display: inline;
  }
}

.settings__icon--hover {
  display: none;
  height: 1.5em;
}

.button__designer {
  pointer-events: none;
  color: $palette-zinc;
  @media (min-width: $tablet) {
    pointer-events: auto;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1em;
    background-color: $palette-primary;
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: $palette-affirmative;
    }
    span {
      display: none;
    }
  }
}

// Sub-navigation Toggles (Mobile)
.nav-item__toggle {
  display: none;
  &:checked ~ .sub-nav {
    display: block;
  }
  &:checked ~ .nav-item__toggle--label {
    .default {
      display: none;
    }
    .checked {
      display: inline-block;
    }
  }
}

.nav-item__toggle--label {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 1em;
  color: $palette-zinc;
  @media (min-width: $tablet) {
    display: none;
  }
  .checked {
    display: none;
  }
}

// Sub-navigation
.sub-nav {
  display: none;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 0;
  margin-right: -2em;
  margin-left: -2em;
  list-style-type: none;
  @media (min-width: $tablet) {
    position: absolute;
    left: 50%;
    top: 4.5em;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    border-radius: 0.5em;
    white-space: nowrap;
    background: #fff;
    transform: translateX(-50%);
    box-shadow: 2px 2px 2px 0px rgba(53, 64, 66, 0.4);
    &:after {
      position: absolute;
      top: -9px;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, 50%) rotate(45deg);
      width: 11px;
      height: 11px;
      border: solid #fff;
      border-width: 0 1px 1px 0;
      background-color: #fff;
      content: '';
    }
  }
}

.sub-nav__item {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 2em;
  border-bottom: 1px solid $palette-zinc;
  @media (min-width: $tablet) {
    font-size: 0.9em;
    padding-left: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-color: $palette-snow;
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
  @media (max-width: $tablet) {
    &:first-child {
      border-top: 1px solid $palette-zinc;
    }
    &:nth-last-child(1) {
      border: none;
      padding-bottom: 0;
    }
    // Override our nth-last-child for logout as it is the only sub-navigation item under settings
    // on mobile.
    &.item__log-out {
      border-top: 1px solid $palette-zinc;
    }
  }
}

.sub-nav__item--anchor {
  font-weight: 400;
  color: $palette-zinc;
  text-decoration: none;
  @media (min-width: $tablet) {
    &.active, &.active:visited, &:hover {
      color: $palette-primary;
      text-decoration: none;
    }
  }
  @media (max-width: $tablet) {
    &.active, &.active:visited, &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

// Profile Items
.profile {
  display: none;
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.profile__photo {
  width: 50px;
  height: 50px;
  margin-right: 1em;
  border-radius: 50%;
}

.profile__data {
  text-align: left;
  a {
    color: $palette-slate;
    &:hover {
      color: $palette-slate;
      text-decoration: none;
    }
  }
  h5 {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.item__log-out {
  @media (min-width: $tablet) {
    padding-left: 0;
  }
}

.link__log-out {
  display: flex;
  align-items: center;
  i {
    display: none;
    @media (min-width: $tablet) {
      flex-basis: 50px;
      display: inline-block;
      text-align: center;
      margin-right: 1em;
    }
  }
}
