@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');
@import 'node_modules/nio-css-theme/shared/core';
@import 'node_modules/nio-css-theme/shared/components/text-input';

$border-radius: 7px;

.markdown-section, body {
  font: normal 400 16px / 1.6 Lato, sans serif;
  -ms-overflow-style: none;
  color: $palette-black;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.markdown-section blockquote {
  padding: 1.5rem;
  border-radius: 0 $border-radius $border-radius 0;
  border-width: 5px;
  color: $palette-slate;
  &.info {
    background: rgba($palette-primary, 0.15);
    border-color: $palette-primary;
    p:first-of-type {
      color: $palette-primary;
    }
  }
  &.warning {
    background: rgba($palette-warning, 0.18);
    border-color: $palette-warning;
    p:first-of-type {
      color: $palette-warning;
    }
  }
  &.danger {
    background: rgba($palette-danger, 0.1);
    border-color: $palette-danger;
    p:first-of-type {
      color: $palette-danger;
    }
  }
  &.success {
    background: rgba($palette-affirmative, 0.15);
    border-color: $palette-affirmative;
    p:first-of-type {
      color: $palette-affirmative;
    }
  }
}

.page-inner {
  font: normal 400 16px / 1.6 Lato, sans serif;
  min-height: 60vh;
  padding-top: 5rem;
  @media screen and (min-width: 1210px) {
    margin-left: 20px;
  }
}

.page-wrapper {
  min-height: 100vh;
}

// we are not using these page navigation arrows
.navigation {
  display: none;
  &:hover {
    color: $palette-slate;
  }
}

// internal page toolbar/header used as mobile TOC toggle
.book-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $palette-zinc;
  font: normal 400 16px / 1.6 Lato, sans serif;
  @media (min-width: 600px) {
    display: none;
  }
  h1 {
    display: none;
  }
  &.toc-open {
    border: none;
  }
}
@media (min-width: 600px) {
  .book {
    height: unset;
  }
}
#book-sidebar-container {
  height: 100vh;
}
.book > .book-summary {
  max-height: 0;
  left: 0;
  transition: max-height 300ms;
  @media (min-width: 600px) {
    max-height: unset;
    transition: none;
  }
}
@media (min-width: 600px) {
  body.scrolled {
    .book > .book-summary {
      position: sticky;
      float: left;
    }
  }
}

.with-summary > .book-summary {
  max-height: 600px;
  overflow-y: scroll;
  left: 0;
  transition: max-height 300ms;
  @media (min-width: 600px) {
    max-height: unset;
    transition: none;
  }
}

.book-body,
.book.with-summary > .book-body {
  transition: none;
  @media (min-width: 600px) {
    left: 0;
    position: relative;
    width: auto;
    max-height: unset;
    transition: unset;
    margin-left: 300px;
    .body-inner {
      position: relative;
    }
  }
}

// custom active styles on sidebar
.book-summary {
  font: normal 400 16px / 1.4 Lato, sans serif;
  background: white;
  @media (max-width: 600px) {
    width: 100%;
    bottom: 0;
  }
  ul.summary {
    li.chapter {
      font-size: 18px;
      font-weight: 500;
      line-height: 22.5px;
      &.active,
      &.active--chapter {
        @media (min-width: 600px) {
          &.animating ul.articles {
            max-height: 0;
          }
          ul.articles {
            height: unset;
            max-height: 1600px;
            transition: max-height 1000ms;
          }
        }
      }
      &.active--chapter > a {
        color: $palette-black;
      }
      &.active > a {
        color: $palette-primary;
        &:hover {
          text-decoration: none;
          color: $palette-primary;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(50%, -50%);
          background-color: $palette-primary;
          border-radius: 0.5rem;
          height: 3.5rem;
          width: 0.8rem;
          transition:
            width 33ms ease-out,
            height 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      }
      &.active.animating > a {
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(50%, -50%);
          background-color: $palette-primary;
          border-radius: 0.5rem;
          width: 0;
          height: 0;
        }
      }
      a {
        padding: 10px 2.5rem;
        color: $palette-slate;
        display: block;
        text-decoration: none;
        position: relative;
        font-size: 18px;
        font-weight: 500;
        &:hover {
          text-decoration: none;
          color: $palette-black;
        }
      }
      ul.articles {
        overflow: hidden;
        padding-left: 0;
        transition: max-height 1000ms;
        @media (min-width: 600px) {
          max-height: 0;
        }
        a {
          padding-left: 5rem;
          font-size: 16px;
          font-weight: 400;
        }
        li.chapter {
          line-height: 12px;
          ul.articles {
            li.chapter {
              line-height: 10px;
              a {
                padding-left: 7rem;
              }
              ul.articles {
                li.chapter {
                  a {
                    padding-left: 8.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// add nio css theme styles
.markdown-section {
  color: $palette-black;
  hr {
    border-top: 1px solid $palette-light!important;
    margin: 45px 0 25px 0!important;
    height: 1px!important;
  }
  h1 {
    @extend %nio-h1;
    font-size: 40px;
    font-weight: 500;
    color: $palette-primary;
    @media screen and (min-width: 600px) {
      font-size: 48px;
    }
  }
  h2 {
    @extend %nio-h2;
    font-size: 36px;
    font-weight: 300;
    color: $palette-primary;
  }
  h3 {
    @extend %nio-h3;
    font-size: 28px;
    font-weight: 400;
    color: $palette-primary;
  }
  h4 {
    @extend %nio-h4;
    font-size: 22px;
    font-weight: 400;
  }
  h5 {
    @extend %nio-h5;
    font-size: 18px;
    font-weight: 300;
  }
  h6 {
    @extend %nio-h6;
    font-size: 14px;
    font-weight: 700;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 40px 0;
  }
  a {
    color: $palette-primary;
    &:hover {
      text-decoration: none;
      color: $palette-black;
    }
  }
  a.n-button.n-button--primary {
    display:inline-block;
    border: 1px solid $palette-primary;
    color: $palette-primary;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 2rem;
    white-space: nowrap;
    min-width: 300px;
    &:hover {
      color: #fff;
      background-color: $palette-primary;
    }
    @media (max-width: 600px) {
      font-size: 0.875rem;
      min-width: 250px;
    }
  }
  pre {
    border: 0.5px solid $palette-snow;
    border-radius: $border-radius;
    color: $palette-slate;
    margin-top: 2.5rem;
  }
  sup {
    font-size: 11px;
  }
  .scrolling-wrapper {
    display: block;
    overflow: auto;
  }
  table {
    thead {
      tr {
        background-color: $palette-snow;
      }
      th {
        text-align: left;
      }
    }
    tr:nth-child(2n) {
      background-color: #fff;
    }
  }
  ul {
    li {
      li {
        list-style: disc;
      }
    }
  }
  ol {
    ul {
      list-style: disc;
    }
    li {
      ol {
        li {
          list-style: lower-alpha;
        }
      }
    }
    li {
      ul {
        li {
          list-style: disc;
        }
        ol {
          li {
            list-style: lower-alpha;
          }
        }
      }
    }
  }
}

.label {
  font-size: 0.85714286rem;
  font-weight: 600;
}

.custom-book-header-content {
  color: $palette-black;
}

// style search results pages
#book-search-results {
  .search-results {
    h1.search-results-title {
      font-size: 36px;
      text-align: left;
      color: $palette-slate;
    }
    .has-results {
      .search-results-item {
        color: $palette-black;
        h3 {
          font-size: 36px;
          font-weight: 300;
          margin-bottom: 16px;
          a {
            color: $palette-primary;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// style circle-background icons in either default sharing plugin or toolbar plugin
.fa.circle-background {
  &::before {
    height: 2.3rem;
    width: 2.3rem;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    &::before {
      background-color: $palette-primary;
    }
  }
}

.fa.fa-chevron-down {
  color: $palette-zinc;
  &--rotate180 {
    transform: rotate(180deg);
  }
}

// STYLES FOR PLUGINS

// style default search plugin
#book-search-input {
  padding: 2.5rem;
  height: 10rem;
  input {
    @extend %nio-text-input;
    @extend %nio-text-input--singleline;
    padding: 10px 15px;
    height: 45px;
    box-shadow: none;
    &:hover {
      @extend %nio-text-input;
      @extend %nio-text-input--singleline;
      padding: 10px 15px;
      height: 45px;
      box-shadow: none;
    }
    &:focus {
      padding: 10px 15px;
      height: 45px;
      box-shadow: none;
    }
  }
}

#search-icon {
  position: relative;
  top: -4.5rem;
  left: 80%;
  background-image: url(img/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  cursor: pointer;
}

// accordion plugin styles
.accordion {
  max-height: 1050px;
  .accordionContent {
    text-align: center;
    max-height: 1000px;
    @media print { max-height: unset; }
  }
  .accordionButton {
    background-color: $palette-slate;
    &:hover {
      background-color: $palette-zinc;
    }
    .accordionTitle {
      color: white;
      strong {
        font-weight: 500;
      }
    }
    .accordionSpinner {
      border-left-color: white;
      border-top-color: white;
    }
  }
}

.accordionClose {
  max-height: 32px;
  @media print { max-height: unset; }
}

// currently not using the page-toc plugin
.page-toc {
  margin-bottom: 2rem;
  margin-left: 2.5rem;
  max-width: 280px;
  border-radius: $border-radius;
  background-color: white;
  color: $palette-zinc;
}

// back-to-top plugin styles
.back-to-top {
  background: rgba($palette-alert, 0.5);
  &:hover {
    background: rgba($palette-zinc, 0.5);
  }
}

.clearfix {
  clear: both;
}
