@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');
@import 'node_modules/nio-css-theme/shared/core';
@import 'node_modules/nio-css-theme/shared/components/text-input';

.markdown-section, body {
  font: normal 400 16px / 1.6 Lato, sans serif;
  -ms-overflow-style: none;
  color: $palette-black;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.page-inner {
  @media screen and (min-width: 1400px) {
    margin-left: 150px;
  }
}

.book-summary {
  font: normal 400 16px / 1.4 Lato, sans serif;
  background: white;
  ul.summary {
    li {
      a {
        padding-left: 2.5rem;
        &:hover {
          text-decoration: none;
          color: $palette-alternate;
        }
      }
    }
    li.active > a {
      color: $palette-primary;
      border-right: 4px solid $palette-primary;
    }
  }
}

.summary {
  text-transform: lowercase;
}

.markdown-section {
  color: $palette-black;
  h1 {
    @extend %nio-h1;
    font-size: 48px;
    font-weight: 500;
    color: $palette-primary;
    line-height: 55px;
    margin-bottom: 1.7rem;
  }
  h2 {
    @extend %nio-h2;
    font-size: 28px;
    font-weight: 300;
    line-height: 38px;
  }
  h3 {
    @extend %nio-h3;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
  h4 {
    @extend %nio-h4;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  h5 {
    @extend %nio-h5;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  h6 {
    @extend %nio-h6;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
  }
  a {
    color: $palette-primary;
    &:hover {
      text-decoration: none;
      color: $palette-alternate;
    }
  }
  pre {
    border: 0.5px solid $palette-snow;
    border-radius: 7px;
    color: #354042;
  }
}

.chapter {
  font-size: 18px;
  font-weight: 600;
}

.articles{
  .chapter {
    a {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.label {
  font-size: 0.85714286rem;
  font-weight: 600;
}

#book-search-input {
  padding: 1.5rem;
  input {
    @extend %nio-text-input--singleline;
  }
}

.page-inner {
  min-height: 60vh;
}
