<script type="text/javascript">
  var auth0 = new auth0.WebAuth({
    clientID: 'yhfMmYS07O4Ubo6ljUL6FnluNx0q4IbQ',
    domain: 'stage-nio.auth0.com',
    redirectUri: 'http://localhost:4000',
    responseType: 'id_token',
    scope: 'openid',
    audience: 'https://stage-nio.auth0.com/userinfo'
  });
  auth0.checkSession({}, function(err, authResult) {
    if (err && err.error !== 'login_required') {
      console.log('logged in!');
    }
    else {
      console.log('not logged in!');
    }
  })
</script>
