<div class="primary-nio-footer">
    <footer>
        <div class="links">
            <div class="footer__contact">
                <div class="logos">
                    <a href="https://niolabs.com" class="footer__logo logo--niolabs">
                      <svg id="footer-logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1548 452" class="footer__logo">
                        <defs>
                          <style>.cls-1{fill:#e6e9ee;}.cls-2{fill:#fff;}</style>
                        </defs>
                        <title>niolabs_logo_light</title>
                        <path class="cls-1" d="M545,86.56V328.36H503.15V86.56Z"/>
                        <path class="cls-1" d="M717.28,157.82h40.47V328.36H718l-2.08-24.91c-9.69,20.06-36.32,29.75-55.35,30.1-50.51.35-87.87-30.79-87.87-90.63,0-58.81,39.09-89.6,88.91-89.25,22.83,0,44.62,10.72,54.31,27.68Zm-102.4,85.1c0,32.52,22.49,51.89,50.51,51.89,66.42,0,66.42-103.43,0-103.43C637.37,191.37,614.89,210.4,614.89,242.92Z"/>
                        <path class="cls-1" d="M832.13,86.56V181c10-17.64,38.05-27.33,56-27.33,49.81,0,86.83,30.44,86.83,89.25,0,56-37.71,89.25-87.87,89.25-20.76,0-41.86-6.92-55-27.33l-2.77,23.52H789.92V86.56Zm2.77,156.36c0,30.79,22.83,50.16,49.47,50.16,27,0,48.43-20.41,48.43-50.16,0-30.79-21.45-49.81-48.43-49.81C857.73,193.1,834.9,213.17,834.9,242.92Z"/>
                        <path class="cls-1" d="M1117.52,203.14c-12.11-11.41-25.95-15.22-42.2-15.22-20.06,0-31.13,6.23-31.13,16.95,0,11.07,10,17.3,31.83,18.68,32.17,2.08,73,9.34,73,54.66,0,30.1-24.56,56-73.34,56-27,0-54-4.5-78.87-30.44l20.76-30.1c12.11,13.49,39.78,23.52,58.81,23.87,15.91.35,30.79-8,30.79-20.41,0-11.76-9.69-16.61-33.9-18-32.17-2.42-70.57-14.18-70.57-52.93,0-39.44,40.82-53.27,72-53.27,26.64,0,46.7,5.19,66.42,22.49Z"/>
                        <path class="cls-2" d="M139.57,328.86V239.25c0-26-14.24-45.84-41.33-45.84-26.05,0-43.76,21.88-43.76,47.93v87.52h-42V157.29H50.31l2.78,23.27c17.37-17,34.73-25.71,56.26-25.71,40.29,0,72.59,30.22,72.59,84.05v90Z"/>
                        <path class="cls-2" d="M263.33,109.35c0,33-50,33-50,0S263.33,76.36,263.33,109.35Zm-46.19,47.59V328.86h42.37V156.94Z"/>
                        <path class="cls-2" d="M471.72,243.42c0,49.32-33.69,89.26-89.26,89.26s-88.91-39.94-88.91-89.26c0-49,34-89.26,88.57-89.26S471.72,194.45,471.72,243.42Zm-135.8,0c0,26.05,15.63,50.36,46.54,50.36S429,269.47,429,243.42c0-25.7-18.06-50.7-46.54-50.7C351.9,192.71,335.92,217.72,335.92,243.42Z"/>
                      </svg>
                    </a>
                    <div class="social-icon-container">
                      <a href="https://twitter.com/niolabs" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                      <a href="https://www.linkedin.com/company/niolabs" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                      <a href="https://www.facebook.com/niolabs" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                      <a href="https://plus.google.com/+nioinnovation" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a>
                      <a href="https://www.youtube.com/nioinnovation" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-youtube fa-stack-1x fa-inverse"></i></span></a>
                      <a href="https://github.com/niolabs" target="_blank" class="social-icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a>
                    </div>
                </div>
                <ul>
                    <li>295 Interlocken Blvd. Suite 500 Broomfield, CO 80021</li>
                    <li>Phone: 1.877.231.0353</li>
                </ul>
            </div>
            <div class="footer__menu">
                <nav class="footer__container">
                    <ul id="menu-footer-menu" class="menu">
                        <li class="menu-item menu-company"><a>company</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-partner"><a href="https://niolabs.com/partner/">Partner</a></li>
                                <li class="menu-item menu-team"><a href="https://niolabs.com/team/">Team</a></li>
                                <li class="menu-item menu-careers"><a href="https://niolabs.com/careers/">Careers</a></li>
                                <li class="menu-item menu-blog"><a href="https://niolabs.com/blog/">Blog</a></li>
                                <li class="menu-item menu-press"><a href="https://niolabs.com/press/">Press</a></li>
                                <li class="menu-item menu-contact"><a href="https://niolabs.com/contact/">Contact us</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-products"><a>products</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-platform"><a href="https://niolabs.com/product/nio-platform/">nio platform</a></li>
                                <li class="menu-item menu-system-designer"><a href="https://niolabs.com/product/system-designer/">System Designer</a></li>
                                <li class="menu-item menu-pubkeeper"><a href="https://niolabs.com/product/pubkeeper/">Pubkeeper</a></li>
                                <li class="menu-item menu-blocks"><a href="https://niolabs.com/product/blocks/">Blocks</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-tools"><a>build & learn</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-go-to-designer"><a href="https://designer.n.io/">Go to Designer</a></li>
                                <li class="menu-item"><a href="https://docs.n.io">Docs</a></li>
                                <li class="menu-item"><a href="https://workshops.n.io">Workshops</a></li>
                                <li class="menu-item"><a href="https://blocks.n.io">Block library</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-nio"><a>nio platform</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="https://app.n.io/support">Support</a></li>
                                <li class="menu-item"><a href="https://app.n.io/support/faqs">FAQ</a></li>
                                <li class="menu-item"><a href="https://app.n.io/support/contact">Contact us</a></li>
                                <li class="menu-item"><a href="https://app.n.io/settings">Account</a></li>
                                <li class="menu-item"><a href="https://forum.n.io">Forum</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="copyright">
            <a href="https://niolabs.com/privacy">Privacy Policy</a> | <a href="https://niolabs.com/terms">Terms and Conditions</a> | <a href="https://niolabs.com/legal">Legal</a>
            <br>
            <a href="https://docs.n.io/copyright.html">&copy; n.io innovation, LLC. All Rights Reserved.</a>
        </div>
    </footer>
</div>
