<header class="header">
    <div class="header__container">
        <a href="https://app.n.io">
          <svg id="nio_logo_white" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 674 402" class="header__logo">
            <defs>
              <style>.cls-1{fill:#fff;}
              </style>
            </defs>
            <title>nio_logo_white</title>
            <path class="cls-1" d="M253.69,293.43V215.72c0-22.59-12.35-39.76-35.84-39.76-22.59,0-38,19-38,41.56v75.9H143.45V144.64h32.83l2.41,20.18c15.06-14.76,30.12-22.29,48.79-22.29,34.94,0,63,26.21,63,72.89v78Z"/>
            <path class="cls-1" d="M361,103.07c0,28.61-43.37,28.61-43.37,0S361,74.45,361,103.07ZM321,144.34V293.43h36.74V144.34Z"/>
            <path class="cls-1" d="M541.74,219.33c0,42.78-29.22,77.41-77.41,77.41s-77.11-34.63-77.11-77.41c0-42.47,29.52-77.41,76.81-77.41S541.74,176.87,541.74,219.33Zm-117.77,0c0,22.6,13.55,43.68,40.36,43.68s40.36-21.08,40.36-43.68c0-22.29-15.66-44-40.36-44C437.83,175.36,424,197,424,219.33Z"/>
          </svg>
        </a>
        <input id="header__toggle" type="checkbox" class="header__toggle">
        <label for="header__toggle" class="header__toggle--label"></label>
        <nav class="nav">
            <ul class="nav__list list-unstyled">
                <li class="nav__list--item">
                    <a id="nav__list--docs" href="https://docs.n.io" class="nav__list--anchor">docs</a>
                </li>
                <li class="nav__list--item">
                    <a id="nav__list--blocks" href="https://blocks.n.io" class="nav__list--anchor">blocks</a>
                </li>
                <li class="nav__list--item">
                    <a id="nav__list--workshop" href="https://workshops.n.io" class="nav__list--anchor">workshops</a>
                </li>
                <li class="nav__list--item">
                    <a id="nav__list--support" href="https://app.n.io/support" class="nav__list--anchor">support</a>
                    <!-- Mobile Sub-Navigation Toggle -->
                    <input class="nav-item__toggle" id="sub-nav__support" type="checkbox">
                    <label class="nav-item__toggle--label" for="sub-nav__support">
                        <i class="nio nio-add default"></i>
                        <i class="nio nio-minus checked"></i>
                    </label>
                    <!-- Sub-Navigation -->
                    <ul class="sub-nav list-unstyled">
                        <li class="sub-nav__item"><a href="https://forum.n.io" class="sub-nav__item--anchor">forum</a></li>
                        <li class="sub-nav__item"><a href="https://app.n.io/support/faqs" class="sub-nav__item--anchor">faqs</a></li>
                        <li class="sub-nav__item"><a href="https://app.n.io/support/contact" class="sub-nav__item--anchor">contact us</a></li>
                    </ul>
                </li>
                <li class="nav__list--item nav__list--item--settings">
                    <a href="https://app.n.io/settings" class="nav__list--anchor">
                        <i class="nio nio-profile"></i>
                        <span>settings</span>
                    </a>
                </li>
                <li class="nav__list--item nav__list--item--designer">
                  <a href="https://designer.n.io" target="_blank">
                  <button class="n-button n-button--primary">
                    go to designer
                  </button>
                  </a>
                  <span>go to designer (only available on desktop)</span>
                </li>
            </ul>
        </nav>
    </div>
</header>
