{% extends template.self %}

{% block head %}

  {{ super () }}

  {% include "./_gtmhead.html" %}

  <script src="https://cdn.auth0.com/js/auth0/9.0.1/auth0.min.js"></script>
{% endblock %}

{% block body %}
  {% include "./_gtmbody.html" %}
  {% include "./_header.html" %}

  {{ super() }}
  <div class="custom-book-header-content">View all topics</div>

  {% include "./_footer.html" %}
  {% include "./_quantum.html" %}
  <script type="text/javascript">
    var auth0 = new auth0.WebAuth({
      clientID: 'yhfMmYS07O4Ubo6ljUL6FnluNx0q4IbQ',
      domain: 'stage-nio.auth0.com',
      redirectUri: 'http://localhost:4000',
      responseType: 'code',
      scope: 'openid%20profile',
      audience: 'https://stage-nio.auth0.com/api/v2/'
    });
    // auth0.crossOriginVerification();
    auth0.checkSession({}, function(err, authResult) {
      if (err && err.error === 'login_required') {
        console.log('not logged in');
      }
      else {
        console.log('logged in!');
      }
    })
  </script>


{% endblock %}
