@font-face {
  font-family: "nioicons";
  src: url("fonts/icons/nioicons.eot?1c70f9cab3b8ec2b6fd6d091a01c8fdf?#iefix") format("embedded-opentype"),
  url("fonts/icons/nioicons.woff2?1c70f9cab3b8ec2b6fd6d091a01c8fdf") format("woff2"),
  url("fonts/icons/nioicons.woff?1c70f9cab3b8ec2b6fd6d091a01c8fdf") format("woff"),
  url("fonts/icons/nioicons.ttf?1c70f9cab3b8ec2b6fd6d091a01c8fdf") format("truetype"),
  url("fonts/icons/nioicons.svg?1c70f9cab3b8ec2b6fd6d091a01c8fdf#nioicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nio {
  speak: none;
  line-height: 1;
  display: inline-block;
}

.nio:before {
  font-family: nioicons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: top;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nio-share:before {
  content: "\e91f";
}
.nio-profile:before {
  content: "\f101";
}
.nio-clone:before {
  content: "\f102";
}
.nio-cloud-instance:before {
  content: "\f103";
}
.nio-delete:before {
  content: "\f104";
}
.nio-edit:before {
  content: "\f105";
}
.nio-expand:before {
  content: "\f106";
}
.nio-expand-window:before {
  content: "\f107";
}
.nio-jump:before {
  content: "\f108";
}
.nio-logout:before {
  content: "\f109";
}
.nio-other:before {
  content: "\f10a";
}
.nio-revert:before {
  content: "\f10b";
}
.nio-settings:before {
  content: "\f10c";
}
.nio-split-page:before {
  content: "\f10d";
}
.nio-view-only:before {
  content: "\f10e";
}
.nio-database:before {
  content: "\f10f";
}
.nio-hardware:before {
  content: "\f110";
}
.nio-messaging:before {
  content: "\f111";
}
.nio-path-modifier:before {
  content: "\f112";
}
.nio-play:before {
  content: "\f113";
}
.nio-save:before {
  content: "\f114";
}
.nio-signal-modifier:before {
  content: "\f115";
}
.nio-social-media:before {
  content: "\f116";
}
.nio-open-window:before {
  content: "\f117";
}
.nio-logo:before {
  content: "\f118";
}
.nio-add-circle:before {
  content: "\f119";
}
.nio-add:before {
  content: "\f11a";
}
.nio-bang:before {
  content: "\f11b";
}
.nio-check-mark:before {
  content: "\f11c";
}
.nio-chevron:before {
  content: "\f11d";
}
.nio-double-chevron:before {
  content: "\f11e";
}
.nio-expand-all:before {
  content: "\f11f";
}
.nio-follow-path:before {
  content: "\f120";
}
.nio-ibar-move:before {
  content: "\f121";
}
.nio-minus:before {
  content: "\f122";
}
.nio-question:before {
  content: "\f123";
}
.nio-recent:before {
  content: "\f124";
}
.nio-search:before {
  content: "\f125";
}
.nio-stop:before {
  content: "\f126";
}
.nio-warning:before {
  content: "\f127";
}
.nio-block-library:before {
  content: "\f128";
}
.nio-cloud-install:before {
  content: "\f129";
}
.nio-loader:before {
  content: "\f12a";
}
.nio-menu:before {
  content: "\f12b";
}
.nio-projects:before {
  content: "\f12c";
}
