@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
  font: normal 400 14px / 1.5 Lato, sans serif;
  line-height: normal; }

.markdown-section h1 {
  font-size: 2.37841rem; }

.markdown-section h2 {
  font-size: 2rem; }

.markdown-section h3 {
  font-size: 1.68179rem; }

.markdown-section h4 {
  font-size: 1.41421rem; }

.markdown-section h5 {
  font-size: 1.18921rem; }

.markdown-section h6 {
  font-size: 1rem; }

#book-search-input input, #book-search-input input:hover {
  display: block;
  position: relative;
  padding-top: 1.25rem; }

#book-search-input input, #book-search-input input:hover {
  color: #354042;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #CED4DA;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0.5rem #CED4DA;
          box-shadow: inset 0 0 0.5rem #CED4DA;
  -webkit-transition: -webkit-box-shadow 120ms;
  transition: -webkit-box-shadow 120ms;
  transition: box-shadow 120ms;
  transition: box-shadow 120ms, -webkit-box-shadow 120ms;
  padding-left: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit; }
  #book-search-input input:focus {
    border-color: #3CAFDA;
    -webkit-box-shadow: 0 0 0.1rem #3CAFDA;
            box-shadow: 0 0 0.1rem #3CAFDA; }

#book-search-input input, #book-search-input input:hover {
  width: 100%; }

.markdown-section, body {
  font: normal 400 16px / 1.6 Lato, sans serif;
  -ms-overflow-style: none;
  color: #354042; }
  .markdown-section::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 0 !important; }

.markdown-section blockquote {
  padding: 1.5rem;
  border-radius: 0 7px 7px 0;
  border-width: 5px;
  color: #576265; }
  .markdown-section blockquote.info {
    background: rgba(60, 175, 218, 0.15);
    border-color: #3CAFDA; }
    .markdown-section blockquote.info p:first-of-type {
      color: #3CAFDA; }
  .markdown-section blockquote.warning {
    background: rgba(243, 188, 38, 0.18);
    border-color: #F3BC26; }
    .markdown-section blockquote.warning p:first-of-type {
      color: #F3BC26; }
  .markdown-section blockquote.danger {
    background: rgba(221, 59, 76, 0.1);
    border-color: #DD3B4C; }
    .markdown-section blockquote.danger p:first-of-type {
      color: #DD3B4C; }
  .markdown-section blockquote.success {
    background: rgba(55, 192, 201, 0.15);
    border-color: #37C0C9; }
    .markdown-section blockquote.success p:first-of-type {
      color: #37C0C9; }

.page-inner {
  font: normal 400 16px / 1.6 Lato, sans serif;
  min-height: 60vh;
  padding-top: 5rem; }
  @media screen and (min-width: 1210px) {
    .page-inner {
      margin-left: 20px; } }

.navigation {
  display: none; }
  .navigation:hover {
    color: #576265; }

.book-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #9DAAB1;
  font: normal 400 16px / 1.6 Lato, sans serif; }
  @media (min-width: 600px) {
    .book-header {
      display: none; } }
  .book-header h1 {
    display: none; }
  .book-header.toc-open {
    border: none; }

.book > .book-summary {
  max-height: 0;
  left: 0;
  -webkit-transition: max-height 300ms;
  transition: max-height 300ms; }
  @media (min-width: 600px) {
    .book > .book-summary {
      max-height: unset;
      -webkit-transition: none;
      transition: none; } }

.with-summary > .book-summary {
  max-height: 600px;
  overflow-y: scroll;
  left: 0;
  -webkit-transition: max-height 300ms;
  transition: max-height 300ms; }
  @media (min-width: 600px) {
    .with-summary > .book-summary {
      max-height: unset;
      -webkit-transition: none;
      transition: none; } }

.book-body {
  -webkit-transition: none;
  transition: none; }
  @media (min-width: 600px) {
    .book-body {
      max-height: unset;
      -webkit-transition: unset;
      transition: unset;
      left: 300px; } }

.book-summary {
  font: normal 400 16px / 1.4 Lato, sans serif;
  background: white; }
  @media (max-width: 600px) {
    .book-summary {
      width: 100%;
      bottom: 0; } }
  .book-summary ul.summary li.chapter {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px; }
    @media (min-width: 600px) {
      .book-summary ul.summary li.chapter.active.animating ul.articles, .book-summary ul.summary li.chapter.active--chapter.animating ul.articles {
        max-height: 0; }
      .book-summary ul.summary li.chapter.active ul.articles, .book-summary ul.summary li.chapter.active--chapter ul.articles {
        height: unset;
        max-height: 600px;
        -webkit-transition: max-height 1000ms;
        transition: max-height 1000ms; } }
    .book-summary ul.summary li.chapter.active--chapter > a {
      color: #354042; }
    .book-summary ul.summary li.chapter.active > a {
      color: #3CAFDA; }
      .book-summary ul.summary li.chapter.active > a:hover {
        text-decoration: none;
        color: #3CAFDA; }
      .book-summary ul.summary li.chapter.active > a::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0%;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        background-color: #3CAFDA;
        border-radius: 0.5rem;
        height: 3.5rem;
        width: 0.8rem;
        -webkit-transition: width 33ms ease-out, height 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: width 33ms ease-out, height 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .book-summary ul.summary li.chapter.active.animating > a::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      background-color: #3CAFDA;
      border-radius: 0.5rem;
      width: 0;
      height: 0; }
    .book-summary ul.summary li.chapter a {
      padding: 10px 2.5rem;
      color: #576265;
      display: block;
      text-decoration: none;
      position: relative;
      font-size: 18px;
      font-weight: 500; }
      .book-summary ul.summary li.chapter a:hover {
        text-decoration: none;
        color: #354042; }
    .book-summary ul.summary li.chapter ul.articles {
      overflow: hidden;
      padding-left: 0;
      -webkit-transition: max-height 1000ms;
      transition: max-height 1000ms; }
      @media (min-width: 600px) {
        .book-summary ul.summary li.chapter ul.articles {
          max-height: 0; } }
      .book-summary ul.summary li.chapter ul.articles a {
        padding-left: 5rem;
        font-size: 16px;
        font-weight: 400; }
      .book-summary ul.summary li.chapter ul.articles li.chapter ul.articles li.chapter a {
        padding-left: 7rem; }
      .book-summary ul.summary li.chapter ul.articles li.chapter ul.articles li.chapter ul.articles li.chapter a {
        padding-left: 8.5rem; }

.markdown-section {
  color: #354042; }
  .markdown-section h1 {
    font-size: 40px;
    font-weight: 500;
    color: #3CAFDA;
    line-height: 55px;
    margin-bottom: 1.7rem; }
    @media screen and (min-width: 600px) {
      .markdown-section h1 {
        font-size: 48px; } }
  .markdown-section h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    color: #3CAFDA; }
  .markdown-section h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    color: #3CAFDA; }
  .markdown-section h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px; }
  .markdown-section h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px; }
  .markdown-section h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px; }
  .markdown-section a {
    color: #3CAFDA; }
    .markdown-section a:hover {
      text-decoration: none;
      color: #354042; }
  .markdown-section pre {
    border: 0.5px solid #E6E9EE;
    border-radius: 7px;
    color: #576265;
    margin-top: 2.5rem; }
  .markdown-section sup {
    font-size: 11px; }
  .markdown-section .scrolling-wrapper {
    display: block;
    overflow: auto; }
  .markdown-section table thead tr {
    background-color: #E6E9EE; }
  .markdown-section table thead th {
    text-align: left; }
  .markdown-section table tr:nth-child(2n) {
    background-color: #fff; }
  .markdown-section ul li li {
    list-style: disc; }
  .markdown-section ol ul {
    list-style: disc; }
  .markdown-section ol li ol li {
    list-style: lower-alpha; }
  .markdown-section ol li ul li {
    list-style: disc; }
  .markdown-section ol li ul ol li {
    list-style: lower-alpha; }

.label {
  font-size: 0.85714286rem;
  font-weight: 600; }

.custom-book-header-content {
  color: #354042; }

#book-search-results .search-results h1.search-results-title {
  font-size: 36px;
  text-align: left;
  color: #576265; }

#book-search-results .search-results .has-results .search-results-item {
  color: #354042; }
  #book-search-results .search-results .has-results .search-results-item h3 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 16px; }
    #book-search-results .search-results .has-results .search-results-item h3 a {
      color: #3CAFDA; }
      #book-search-results .search-results .has-results .search-results-item h3 a:hover {
        text-decoration: none; }

.fa.circle-background::before {
  height: 2.3rem;
  width: 2.3rem;
  background-color: #ccc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.fa.circle-background:hover::before {
  background-color: #3CAFDA; }

.fa.fa-chevron-down {
  color: #9DAAB1; }
  .fa.fa-chevron-down--rotate180 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

#book-search-input {
  padding: 2.5rem;
  height: 10rem; }
  #book-search-input input {
    padding: 10px 15px;
    height: 45px;
    -webkit-box-shadow: none;
            box-shadow: none; }
    #book-search-input input:hover {
      padding: 10px 15px;
      height: 45px;
      -webkit-box-shadow: none;
              box-shadow: none; }
    #book-search-input input:focus {
      padding: 10px 15px;
      height: 45px;
      -webkit-box-shadow: none;
              box-shadow: none; }

#search-icon {
  position: relative;
  top: -4.5rem;
  left: 80%;
  background-image: url(img/search-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 5rem;
  width: 5rem;
  background-color: transparent;
  cursor: pointer; }

.accordion {
  max-height: 1050px; }
  .accordion .accordionContent {
    text-align: center;
    max-height: 1000px; }
    @media print {
      .accordion .accordionContent {
        max-height: unset; } }
  .accordion .accordionButton {
    background-color: #576265; }
    .accordion .accordionButton:hover {
      background-color: #9DAAB1; }
    .accordion .accordionButton .accordionTitle {
      color: white; }
      .accordion .accordionButton .accordionTitle strong {
        font-weight: 500; }
    .accordion .accordionButton .accordionSpinner {
      border-left-color: white;
      border-top-color: white; }

.accordionClose {
  max-height: 32px; }
  @media print {
    .accordionClose {
      max-height: unset; } }

.page-toc {
  margin-bottom: 2rem;
  margin-left: 2.5rem;
  max-width: 280px;
  border-radius: 7px;
  background-color: white;
  color: #9DAAB1; }

.back-to-top {
  background: rgba(206, 212, 218, 0.5); }
  .back-to-top:hover {
    background: rgba(157, 170, 177, 0.5); }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNjc3Mvc3R5bGUuc2NzcyIsIi4uL25vZGVfbW9kdWxlcy9uaW8tY3NzLXRoZW1lL3NoYXJlZC9faGVhZGluZ3Muc2NzcyIsIi4uL25vZGVfbW9kdWxlcy9uaW8tY3NzLXRoZW1lL3NoYXJlZC9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vbm9kZV9tb2R1bGVzL25pby1jc3MtdGhlbWUvc2hhcmVkL2NvbXBvbmVudHMvX3RleHQtaW5wdXQuc2NzcyIsIi4uL25vZGVfbW9kdWxlcy9uaW8tY3NzLXRoZW1lL3NoYXJlZC9fcGFsZXR0ZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGdGQUFZO0FBaU9aO0VDL05FLDZDQ0ZpQztFREdqQyxvQkFBbUIsRUFDcEI7O0FENk5EO0VDek5FLHNCQ2MrRixFRGJoRzs7QUR3TkQ7RUNwTkUsZ0JDUWlGLEVEUGxGOztBRG1ORDtFQy9NRSxzQkNFbUUsRUREcEU7O0FEOE1EO0VDMU1FLHNCQ0pxRCxFREt0RDs7QUR5TUQ7RUNyTUUsc0JDVnVDLEVEV3hDOztBRG9NRDtFQ2hNRSxnQkNoQnFELEVEaUJ0RDs7QUQ4V0Q7RUc1WUUsZUFBYztFQUNkLG1CQUFrQjtFQUNsQixxQkFMbUIsRUFNcEI7O0FIeVlEO0VHdFlFLGVDS3FCO0VESnJCLGVBQWtCO0VBQ2xCLG9CQUFtQjtFQUNuQiwwQkNKcUI7RURLckIsV0FBVTtFQUNWLDZDQ05xQjtVRE1yQixxQ0NOcUI7RURPckIsNkNBaEJZO0VBZ0JaLHFDQWhCWTtFQWdCWiw2QkFoQlk7RUFnQlosdURBaEJZO0VBaUJaLHFCQUFvQjtFQUNwQiwrQkFBc0I7VUFBdEIsdUJBQXNCO0VBQ3RCLGNBQWEsRUFNZDtFSHVYRDtJRzFYSSxzQkN0QnFCO0lEdUJyQix1Q0N2QnFCO1lEdUJyQiwrQkN2QnFCLEVEd0J0Qjs7QUh3WEg7RUduWEUsWUFBVyxFQUNaOztBSHhCRDtFQUNFLDZDQUE0QztFQUM1Qyx5QkFBd0I7RUFDeEIsZUlNcUIsRUpGdEI7RUFQRDtJQUtJLG9CQUNGLEVBQUU7O0FBR0o7RUFDRSxnQkFBZTtFQUNmLDJCQUFnRDtFQUNoRCxrQkFBaUI7RUFDakIsZUlOcUIsRUptQ3RCO0VBakNEO0lBTUkscUNJckJxQjtJSnNCckIsc0JJdEJxQixFSjBCdEI7SUFYSDtNQVNNLGVJeEJtQixFSnlCcEI7RUFWTDtJQWFJLHFDSXhCcUI7SUp5QnJCLHNCSXpCcUIsRUo2QnRCO0lBbEJIO01BZ0JNLGVJM0JtQixFSjRCcEI7RUFqQkw7SUFvQkksbUNJOUJvQjtJSitCcEIsc0JJL0JvQixFSm1DckI7SUF6Qkg7TUF1Qk0sZUlqQ2tCLEVKa0NuQjtFQXhCTDtJQTJCSSxxQ0l2Q3lCO0lKd0N6QixzQkl4Q3lCLEVKNEMxQjtJQWhDSDtNQThCTSxlSTFDdUIsRUoyQ3hCOztBQUlMO0VBQ0UsNkNBQTRDO0VBQzVDLGlCQUFnQjtFQUNoQixrQkFBaUIsRUFJbEI7RUFIQztJQUpGO01BS0ksa0JBQWlCLEVBRXBCLEVBQUE7O0FBR0Q7RUFDRSxjQUFhLEVBSWQ7RUFMRDtJQUdJLGVJbERtQixFSm1EcEI7O0FBSUg7RUFDRSxxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLDBCQUFtQjtNQUFuQix1QkFBbUI7VUFBbkIsb0JBQW1CO0VBQ25CLDBCQUE4QjtNQUE5Qix1QkFBOEI7VUFBOUIsK0JBQThCO0VBQzlCLGlDSTdEb0I7RUo4RHBCLDZDQUE0QyxFQVU3QztFQVRDO0lBTkY7TUFPSSxjQUFhLEVBUWhCLEVBQUE7RUFmRDtJQVVJLGNBQWEsRUFDZDtFQVhIO0lBYUksYUFBWSxFQUNiOztBQUdIO0VBQ0UsY0FBYTtFQUNiLFFBQU87RUFDUCxxQ0FBNEI7RUFBNUIsNkJBQTRCLEVBSzdCO0VBSkM7SUFKRjtNQUtJLGtCQUFpQjtNQUNqQix5QkFBZ0I7TUFBaEIsaUJBQWdCLEVBRW5CLEVBQUE7O0FBRUQ7RUFDRSxrQkFBaUI7RUFDakIsbUJBQWtCO0VBQ2xCLFFBQU87RUFDUCxxQ0FBNEI7RUFBNUIsNkJBQTRCLEVBSzdCO0VBSkM7SUFMRjtNQU1JLGtCQUFpQjtNQUNqQix5QkFBZ0I7TUFBaEIsaUJBQWdCLEVBRW5CLEVBQUE7O0FBRUQ7RUFDRSx5QkFBZ0I7RUFBaEIsaUJBQWdCLEVBTWpCO0VBTEM7SUFGRjtNQUdJLGtCQUFpQjtNQUNqQiwwQkFBaUI7TUFBakIsa0JBQWlCO01BQ2pCLFlBQVcsRUFFZCxFQUFBOztBQUdEO0VBQ0UsNkNBQTRDO0VBQzVDLGtCQUFpQixFQXdHbEI7RUF2R0M7SUFIRjtNQUlJLFlBQVc7TUFDWCxVQUFTLEVBcUdaLEVBQUE7RUExR0Q7SUFTTSxnQkFBZTtJQUNmLGlCQUFnQjtJQUNoQixvQkFBbUIsRUE2RnBCO0lBMUZHO01BZFI7UUFnQlksY0FBYSxFQUNkO01BakJYO1FBbUJZLGNBQWE7UUFDYixrQkFBaUI7UUFDakIsc0NBQTZCO1FBQTdCLDhCQUE2QixFQUM5QixFQUFBO0lBdEJYO01BMEJRLGVJL0hlLEVKZ0loQjtJQTNCUDtNQTZCUSxlSWpKaUIsRUpvS2xCO01BaERQO1FBK0JVLHNCQUFxQjtRQUNyQixlSXBKZSxFSnFKaEI7TUFqQ1Q7UUFtQ1UsWUFBVztRQUNYLG1CQUFrQjtRQUNsQixTQUFRO1FBQ1IsVUFBUztRQUNULHdDQUErQjtnQkFBL0IsZ0NBQStCO1FBQy9CLDBCSTVKZTtRSjZKZixzQkFBcUI7UUFDckIsZUFBYztRQUNkLGNBQWE7UUFDYiw4RkFFc0Q7UUFGdEQsc0ZBRXNELEVBQ3ZEO0lBL0NUO01BbURVLFlBQVc7TUFDWCxtQkFBa0I7TUFDbEIsU0FBUTtNQUNSLFVBQVM7TUFDVCx3Q0FBK0I7Y0FBL0IsZ0NBQStCO01BQy9CLDBCSTVLZTtNSjZLZixzQkFBcUI7TUFDckIsU0FBUTtNQUNSLFVBQVMsRUFDVjtJQTVEVDtNQStEUSxxQkFBb0I7TUFDcEIsZUl2S2U7TUp3S2YsZUFBYztNQUNkLHNCQUFxQjtNQUNyQixtQkFBa0I7TUFDbEIsZ0JBQWU7TUFDZixpQkFBZ0IsRUFLakI7TUExRVA7UUF1RVUsc0JBQXFCO1FBQ3JCLGVJN0thLEVKOEtkO0lBekVUO01BNEVRLGlCQUFnQjtNQUNoQixnQkFBZTtNQUNmLHNDQUE2QjtNQUE3Qiw4QkFBNkIsRUF5QjlCO01BeEJDO1FBL0VSO1VBZ0ZVLGNBQWEsRUF1QmhCLEVBQUE7TUF2R1A7UUFtRlUsbUJBQWtCO1FBQ2xCLGdCQUFlO1FBQ2YsaUJBQWdCLEVBQ2pCO01BdEZUO1FBMkZnQixtQkFBa0IsRUFDbkI7TUE1RmY7UUFnR29CLHFCQUFvQixFQUNyQjs7QUFZbkI7RUFDRSxlSW5OcUIsRUorVHRCO0VBN0dEO0lBSUksZ0JBQWU7SUFDZixpQkFBZ0I7SUFDaEIsZUl2T3FCO0lKd09yQixrQkFBaUI7SUFDakIsc0JBQXFCLEVBSXRCO0lBSEM7TUFUSjtRQVVNLGdCQUFlLEVBRWxCLEVBQUE7RUFaSDtJQWVJLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGtCQUFpQjtJQUNqQixlSW5QcUIsRUpvUHRCO0VBbkJIO0lBc0JJLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGtCQUFpQjtJQUNqQixlSTFQcUIsRUoyUHRCO0VBMUJIO0lBNkJJLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGtCQUFpQixFQUNsQjtFQWhDSDtJQW1DSSxnQkFBZTtJQUNmLGlCQUFnQjtJQUNoQixrQkFBaUIsRUFDbEI7RUF0Q0g7SUF5Q0ksZ0JBQWU7SUFDZixpQkFBZ0I7SUFDaEIsa0JBQWlCLEVBQ2xCO0VBNUNIO0lBOENJLGVJL1FxQixFSm9SdEI7SUFuREg7TUFnRE0sc0JBQXFCO01BQ3JCLGVJblFpQixFSm9RbEI7RUFsREw7SUFxREksNEJJL1FrQjtJSmdSbEIsbUJBblJlO0lBb1JmLGVJM1FtQjtJSjRRbkIsbUJBQWtCLEVBQ25CO0VBekRIO0lBMkRJLGdCQUFlLEVBQ2hCO0VBNURIO0lBOERJLGVBQWM7SUFDZCxlQUFjLEVBQ2Y7RUFoRUg7SUFvRVEsMEJJOVJjLEVKK1JmO0VBckVQO0lBdUVRLGlCQUFnQixFQUNqQjtFQXhFUDtJQTJFTSx1QkFBc0IsRUFDdkI7RUE1RUw7SUFpRlEsaUJBQWdCLEVBQ2pCO0VBbEZQO0lBdUZNLGlCQUFnQixFQUNqQjtFQXhGTDtJQTRGVSx3QkFBdUIsRUFDeEI7RUE3RlQ7SUFtR1UsaUJBQWdCLEVBQ2pCO0VBcEdUO0lBdUdZLHdCQUF1QixFQUN4Qjs7QUFPWDtFQUNFLHlCQUF3QjtFQUN4QixpQkFBZ0IsRUFDakI7O0FBRUQ7RUFDRSxlSXZVcUIsRUp3VXRCOztBQUdEO0VBR00sZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsZUlsVmlCLEVKbVZsQjs7QUFOTDtFQVNRLGVJcFZlLEVKZ1doQjtFQXJCUDtJQVdVLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLG9CQUFtQixFQU9wQjtJQXBCVDtNQWVZLGVJeldhLEVKNldkO01BbkJYO1FBaUJjLHNCQUFxQixFQUN0Qjs7QUFTYjtFQUVJLGVBQWM7RUFDZCxjQUFhO0VBQ2IsdUJBQXNCO0VBQ3RCLG1CQUFrQjtFQUNsQixxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLDBCQUFtQjtNQUFuQix1QkFBbUI7VUFBbkIsb0JBQW1CO0VBQ25CLHlCQUF1QjtNQUF2QixzQkFBdUI7VUFBdkIsd0JBQXVCLEVBQ3hCOztBQVRIO0VBWU0sMEJJalltQixFSmtZcEI7O0FBSUw7RUFDRSxlSTVYb0IsRUpnWXJCO0VBTEQ7SUFHSSxrQ0FBeUI7WUFBekIsMEJBQXlCLEVBQzFCOztBQU1IO0VBQ0UsZ0JBQWU7RUFDZixjQUFhLEVBb0JkO0VBdEJEO0lBTUksbUJBQWtCO0lBQ2xCLGFBQVk7SUFDWix5QkFBZ0I7WUFBaEIsaUJBQWdCLEVBYWpCO0lBckJIO01BWU0sbUJBQWtCO01BQ2xCLGFBQVk7TUFDWix5QkFBZ0I7Y0FBaEIsaUJBQWdCLEVBQ2pCO0lBZkw7TUFpQk0sbUJBQWtCO01BQ2xCLGFBQVk7TUFDWix5QkFBZ0I7Y0FBaEIsaUJBQWdCLEVBQ2pCOztBQUlMO0VBQ0UsbUJBQWtCO0VBQ2xCLGFBQVk7RUFDWixVQUFTO0VBQ1QsMkNBQTBDO0VBQzFDLDRCQUEyQjtFQUMzQiw2QkFBNEI7RUFDNUIsc0JBQXFCO0VBQ3JCLGFBQVk7RUFDWixZQUFXO0VBQ1gsOEJBQTZCO0VBQzdCLGdCQUFlLEVBQ2hCOztBQUdEO0VBQ0UsbUJBQWtCLEVBc0JuQjtFQXZCRDtJQUdJLG1CQUFrQjtJQUNsQixtQkFBa0IsRUFFbkI7SUFEQztNQUxKO1FBS21CLGtCQUFpQixFQUNqQyxFQUFBO0VBTkg7SUFRSSwwQklsYm1CLEVKZ2NwQjtJQXRCSDtNQVVNLDBCSXRiZ0IsRUp1YmpCO0lBWEw7TUFhTSxhQUFZLEVBSWI7TUFqQkw7UUFlUSxpQkFBZ0IsRUFDakI7SUFoQlA7TUFtQk0seUJBQXdCO01BQ3hCLHdCQUF1QixFQUN4Qjs7QUFJTDtFQUNFLGlCQUFnQixFQUVqQjtFQURDO0lBRkY7TUFFaUIsa0JBQWlCLEVBQ2pDLEVBQUE7O0FBR0Q7RUFDRSxvQkFBbUI7RUFDbkIsb0JBQW1CO0VBQ25CLGlCQUFnQjtFQUNoQixtQkF0ZGlCO0VBdWRqQix3QkFBdUI7RUFDdkIsZUlqZG9CLEVKa2RyQjs7QUFHRDtFQUNFLHFDSXhkcUIsRUo0ZHRCO0VBTEQ7SUFHSSxxQ0l4ZGtCLEVKeWRuQiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */